{% extends "graph/base.html" %}

{% block header_content %}

<title>Covid19: the UK Covid tracker</title>

<style>
table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
</style>


{% load static %}

{% endblock %}


{% block body_content %}

<body onload="firstload();">
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<h1>COVID Kingdom: the UK <b>COVID-19 Tracker</b></h1>
		<p>
		<h4>.</h4><h5> <b>Last updated: {{last_update}}</b> </h5>
		<div class="col-md-1"></div>
	</div>


<br><br>
  	<div class="row">
  		
  		<div class="col-md-1"></div>
  		<div class="col-md-8">
				<div>
				NATIONS <br>

				<table class="sortable">
				  <tr>
				    <th>Area</th>
				    <th>Infection rate
				    <small>	(weekly cases rate /100,000)</small></th>
				    <th><small>change in 14 days</small></th>
				    <th>Deaths since September</th>
				    <th>Deaths in last 30 days</th>
<!--				    <th>Test result av. days delay</th>
-->				    <th>Excess deaths 2020</th>    
				  </tr>
				{% for rates in nations %}
				  <tr>
				  <th><a href="graph/place={{rates.areaname}}">{{rates.areaname}}</a></th>
				  <th>{{rates.cases_rate|default_if_none:""}}</th>
				  <th>
				  {% if rates.cases_change %}
				 	 {% if rates.cases_change > 0 %}
				 	<small style="color:red;">{{rates.cases_change|default_if_none:""}}%</small>
				 	 {% else %}
				 <small style="color:green;">{{rates.cases_change|default_if_none:""}}%</small>
				  	{%endif%}
				  {%endif%}
				  	</th>
				  <th>{{rates.wave2|default_if_none:""}}</th>
				  <th>{{rates.last30|default_if_none:""}}</th>
<!--				  <th>{{rates.delays|default_if_none:""}}</th> 
-->				  <th>{{rates.excess|default_if_none:""}}</th>
				  
				 </tr>
				{% endfor %}
				</table>
				</div>
				<br><br>
				REGIONS
				<div>
				<table class="sortable">
				  <tr>
				    <th>Area</th>
				    <th>Infection rate
				    <small>	(weekly cases rate /100,000)</small></th>
				    <th><small>change in 14 days</small></th>
				    <th>Deaths since September</th>
				    <th>Deaths in last 30 days</th>
<!--				    <th>Test result av. days delay</th>
-->				    <th>Excess deaths 2020</th>    
				  </tr>
				{% for rates in regions %}
				  <tr>
				  <th><a href="graph/place={{rates.areaname}}">{{rates.areaname}}</a></th>
				  <th>{{rates.cases_rate|default_if_none:""}}</th>
				  <th>
				  {% if rates.cases_change %}
				 	 {% if rates.cases_change > 0 %}
				 	<small style="color:red;">{{rates.cases_change|default_if_none:""}}%</small>
				 	 {% else %}
				 <small style="color:green;">{{rates.cases_change|default_if_none:""}}%</small>
				  	{%endif%}
				  {%endif%}
				  	</th>
				  <th>{{rates.wave2|default_if_none:""}}</th>
				  <th>{{rates.last30|default_if_none:""}}</th>
<!--				  <th>{{rates.delays|default_if_none:""}}</th> 
-->				  <th>{{rates.excess|default_if_none:""}}</th>
				  
				 </tr>
				{% endfor %}
				</table>
				</div>
				<br><br>
				HIGH COVID-19 DISTRICTS
				<div>
				<table class="sortable">
				  <tr>
				    <th>Area</th>
				    <th>Infection rate
				    <small>	(weekly cases rate /100,000)</small></th>
				    <th><small>change in 14 days</small></th>
				    <th>Deaths since September</th>
				    <th>Deaths in last 30 days</th>
<!--				    <th>Test result av. days delay</th>
-->				    <th>Excess deaths 2020</th>    
				  </tr>
				{% for rates in top_districts %}
				  <tr>
				  <th><a href="graph/place={{rates.areaname}}">{{rates.areaname}}</a></th>
				  <th>{{rates.cases_rate|default_if_none:""}}</th>
				  <th>
				  {% if rates.cases_change %}
				 	 {% if rates.cases_change > 0 %}
				 	<small style="color:red;">{{rates.cases_change|default_if_none:""}}%</small>
				 	 {% else %}
				 <small style="color:green;">{{rates.cases_change|default_if_none:""}}%</small>
				  	{%endif%}
				  {%endif%}
				  	</th>
				  <th>{{rates.wave2|default_if_none:""}}</th>
				  <th>{{rates.last30|default_if_none:""}}</th>
<!--				  <th>{{rates.delays|default_if_none:""}}</th> 
-->				  <th>{{rates.excess|default_if_none:""}}</th>
				  
				 </tr>
				{% endfor %}
				</table>
				</div>
				
				<br><br>
				ALL DISTRICTS
				<div>
				<table class="sortable">
				  <tr>
				    <th>Area</th>
				    <th>Infection rate
				    <small>	(weekly cases rate /100,000)</small></th>
				    <th><small>change in 14 days</small></th>
				    <th>Deaths since September</th>
				    <th>Deaths in last 30 days</th>
<!--				    <th>Test result av. days delay</th>
-->				    <th>Excess deaths 2020</th>    
				  </tr>
				{% for rates in districts %}
				  <tr>
				  <th><a href="graph/place={{rates.areaname}}">{{rates.areaname}}</a></th>
				  <th>{{rates.cases_rate|default_if_none:""}}</th>
				  <th>
				  {% if rates.cases_change %}
				 	 {% if rates.cases_change > 0 %}
				 	<small style="color:red;">{{rates.cases_change|default_if_none:""}}%</small>
				 	 {% else %}
				 <small style="color:green;">{{rates.cases_change|default_if_none:""}}%</small>
				  	{%endif%}
				  {%endif%}
				  	</th>
				  <th>{{rates.wave2|default_if_none:""}}</th>
				  <th>{{rates.last30|default_if_none:""}}</th>
<!--				  <th>{{rates.delays|default_if_none:""}}</th> 
-->				  <th>{{rates.excess|default_if_none:""}}</th>
				  
				 </tr>
				{% endfor %}
				</table>
				</div>
				
				

		</div>
		<div class="col-md-1"></div>

<div>
<p id="rates_list">
</div>

<script>

var list_text
var map_data_url="/graph/api_rates"
var list=$("div.rates_list" );

//
//d3.json(map_data_url, function (data) {
// //   console.log(data);
//    data.dataset.forEach(function(d) {
//    	//list_text=list_text+d.areaname+","+d.cases_rate;
//    	console.log(d.areaname,d.cases_rate);
////    	
//	document.getElementById("rates_list").innerHTML += d.areaname + ":" + d.cases_rate + "<br>";
////    	}
////    	else if (display_value=='deaths'){
////     	mapLookup.set(d.areaname,d.wave2_rate);
////		}
////    	else{
////    	mapLookup.set(d.areaname,d.excess);
////    	};
//    	
//    	});
//});
//

</script>

  	<div class="row">
  		
  		<div class="col-md-1"></div>
  		<div class="col-md-1">
			<select id="Filter2">
			<option value="1">England</option>
			<option value="2">Wales</option>
			<option value="3">Scotland</option>
			<option value="4">Northern Ireland</option>
			</select>	
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<select id="FilterEngland">
			{% for value,text in england_select %}
			<option value="{{value}}" data-tag="4">{{text}}</option>
			{% endfor %}
			</select>
			
			
			<select id="FilterNI">
			{% for value,text in ni_select %}
			<option value="{{value}}" data-tag="4">{{text}}</option>
			{% endfor %}

			</select>
			<select id="FilterScotland">
			{% for value,text in scotland_select %}
			<option value="{{value}}" data-tag="4">{{text}}</option>
			{% endfor %}
			</select>
			<select id="FilterWales">
			{% for value,text in wales_select %}
			<option value="{{value}}" data-tag="4">{{text}}</option>
			{% endfor %}

			</select>
		</div> 
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<select id="FilterData">Displaying 
			<option value="cases_rate" data-tag="1">New Cases</option>
			<option value="excess_death" data-tag="1">Excess Deaths</option>
			<option value="deaths" data-tag="1">Deaths in Wave2</option>

			</select>
		</div>
	</div>
</div>

<script>
var api_fetch={{api_status}}
var last_update="{{last_update}}"
var focus_place="{{place}}"
var first_load=true
function firstload(){
//loadmap("{{place}}");
//get_data("{{place}}");
//var sel2 = document.getElementById("Filter2");
//selectOption(sel2,"{{nation_index}}");
//updateNation();
//var sel = document.getElementById("Filter{{nation}}");
//selectOption(sel, "{{place}}");
};

</script>
{% endblock %}
