{% extends "graph/base.html" %}

{% block header_content %}

<title>Covid19: the UK Covid tracker</title>
{% load static %}
<script src="{% static 'graph/js/covid_chart.js' %}"></script>
<script src="{% static 'graph/js/covid_map.js' %}"></script>


{% endblock %}


{% block body_content %}

<body onload="firstload();">
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<h1>COVID Kingdom: the UK <b>COVID-19 Tracker</b></h1>
		<p>
		<h4>Explore the latest Covid-19 data in Britain - select an area on the map or drop-down menu to see the latest cases and track how the virus spread locally and across Britain. See the patterns of tests, excess deaths, and the Reuters estimate of when infections arrived.</h4><h5> <b>Last updated: {{last_update}}</b> </h5>&emsp;&emsp;<a href="{% url 'home' %}">Return to national dashboard.<a>
		<div class="col-md-1"></div>
	</div>


  	<div class="row">
  		
  		<div class="col-md-1"></div>
  		<div class="col-md-1">
			<select id="Filter2">
			<option value="1">England</option>
			<option value="2">Wales</option>
			<option value="3">Scotland</option>
			<option value="4">Northern Ireland</option>
			</select>	
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<select id="FilterEngland">
			{% for value,text in england_select %}
			<option value="{{value}}" data-tag="4">{{text}}</option>
			{% endfor %}
			</select>
			
			
			<select id="FilterNorthern">
			{% for value,text in ni_select %}
			<option value="{{value}}" data-tag="4">{{text}}</option>
			{% endfor %}

			</select>
			<select id="FilterScotland">
			{% for value,text in scotland_select %}
			<option value="{{value}}" data-tag="4">{{text}}</option>
			{% endfor %}
			</select>
			<select id="FilterWales">
			{% for value,text in wales_select %}
			<option value="{{value}}" data-tag="4">{{text}}</option>
			{% endfor %}

			</select>
		</div> 
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<select id="FilterData">Displaying 
			<option value="cases_rate" data-tag="1">New Cases</option>
			<option value="excess_death" data-tag="1">Excess Deaths</option>
			<option value="deaths" data-tag="1">Deaths in Wave2</option>
			<option value="cases_change" data-tag="1">Cases change (14 days)</option>

			</select>
		</div>
	</div>
</div>
<br><br>
<p>
<div class="container">
	<div class="mainmap">
		<div id="mapid"></div>
	</div>

<p>

 	<div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
    		<div style="height: 400px">
    		
			<canvas id="myChart" </canvas>
			</div>
		</div>
	    <div class="col-md-1"></div>
  	</div>

 	<div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
			<p>			
			*<b>Deaths caused by COVID-19</b> shown above are most accurately tracked in figure that count when COVID-19 appears on a death certificate. (<i>Source: Office for National Statistics weekly series.</i>)
			<p>*<b>Tests with a positive COVID-19 result</b> shown above are from labs run by Public Health England (PHE), NHS hospitals, and private "Lighthouse" labs. The figures are updated daily> Below shows the latest daily figures. The total for recent days are under-estimates because it takes some time for all the results to be published. Tests for everyone with symptoms were not available late May -- so treat early figures with caution. (<i>Source: PHE daily update</i>)
					<p>
		</div>
	    <div class="col-md-1"></div>
  	</div>
	<p>
 	<div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
			<div style="height: 300px">
			<canvas id="casechart"> </canvas>
		</div>
		</div>
	    <div class="col-md-1"></div>
  	</div>
  	<p>
 	<div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
			<p>			
			* <b>Daily totals of local deaths</b> are also available. Shown below, they count how many die with a month of having COVID-19. (<i>Source: PHE daily update</i>)
			<p>
		</div>
	    <div class="col-md-1"></div>
  	</div>


 	<div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
			<div style="height: 250px">
			<canvas id="latest_deaths_chart"> </canvas>
			</div>
		</div>
		
	    <div class="col-md-1"></div>
	</div>
	<p>
		<br><p>

  	 <div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
			 *<b> Excess deaths</b> provide the best way of showing the real impact of the pandemic. They take account of COVID-19 deaths not officially recorded, or other deaths caused indirectly, for example by isolation or reduced access to hospitals. See below a comparison of the average weekly death for the time of year in the last 5 years with deaths in 2020. (<i>Source: Reuters calculation based on ONS average death and ONS weekly death series.</i>) Deaths are derived from death certificates where COVID-19 is listed as a cause of death</b>. Location is by place of death.
			<p><p>
			<div style="height: 400px">
			<canvas id="myDeathChart"></canvas>
			</div>
		</div>
	    <div class="col-md-1"></div>
  	</div>
 
 
 	<div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
    		<p>
			<br />
			<b>*The under-reporting of COVID-19</b> Relying alone on the official figure on tests for coronavirus cases, was a misleading way to view the spread of the pandemic, partcularly at the beginning. It is clear from the many deaths that followed, that the new coronavirus was spreading widely in the UK long before significant testing began. With inconsistent and low volumes of testing for COVID-19, one way of estimating real infections is working back from deaths that follow approximately 3 weeks later. Read our full investigation here:  <a href="https://www.reuters.com/investigates/special-report/health-coronavirus-britain-tracing/">Into the fog: How Britain lost track of the coronavirus</a>
			<p>
			<div style="height: 400px">
				<canvas id="estimates"></canvas>
			</div>
		</div>
	    <div class="col-md-1"></div>
  	</div>


 	<div class="row">
    	<div class="col-md-1"></div>
    	<div class="col-md-10">
			
			  	
			<p>
			(<i>Source: 
		* Estimated new infections is a Reuters rough estimate based on a 1% infection fatality rate (IFR) [Most studies currently show IFR at 0.5%-1%] and average time from infection to death of approximately 3 weeks . The IFR will vary based on age distribution, so the number of infections is likely an over-estimate in the later stages of the outbreak when, in most areas, infection spread into care homes.</i>
			<p>

			Notes 
			- All estimates are unreliable in areas with only a few cases or deaths, e.g. the City of London.<p> 
			- Additional data from Office of National Statistics; National Records of Scotland; Northern Ireland Statistics and Research Agency; Public Health England; Public Health Wales; Scottish government.<p>
			<b>
			Data analysis and programming: <a href="https://twitter.com/StephenGrey">Stephen Grey</a> and<a href="https://twitter.com/McNeill_Tweets">Ryan McNeill</a>. 

		</div>
	    <div class="col-md-1"></div>
  	</div>
</div>

<input type="url" id="shape_location" name="location" value={% static 'graph/json/Local_Auths_Dec16_Gen_Clip_UK.json'%}" hidden/>

<script>
//start up script
var api_fetch={{api_status}}
var last_update="{{last_update}}"
var focus_place="{{place}}"
console.log(focus_place);
var first_load=true

function firstload()
	{
		loadmap("{{place}}");
		get_data("{{place}}");
		var sel2 = document.getElementById("Filter2");  //nation filter
		selectOption(sel2,"{{nation_index}}");
		//updateNation();
		if ('{{nation}}'=='Northern Ireland')
		{
		var sel = document.getElementById("FilterNorthern");
		}
		else
		{
		var sel = document.getElementById("Filter{{nation}}"); 
		};
		console.log(sel);
		selectOption(sel, "{{place}}"); //select the current place in the place filter
	};

</script>
{% endblock %}
