<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js'></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>




<h1>COVID Kingdom: the Reuters UK <b>COVID-19 Tracker</b></h1>
<p><p>
<h3>This interactive graphic shows how the local pattern of how the coronavirus spread through Britain. 
Select below a county, city or London borough and see the patterns of tests, deaths, and the Reuters estimate of when infections arrived.
</h3><br>
Read our full investigation here:  <a href="https://www.reuters.com/investigates/special-report/health-coronavirus-britain-tracing/">Into the fog: How Britain lost track of the coronavirus</a>


<div class="container">

 <div class="row">
  	<div style="width:100%; height:90%">
    	<div class="col-md-1"></div>
    	<div class="col-md-11">
      		<canvas id="myChart" width="400" height="500"></canvas>
    	</div>

<select id="Filter">
<option value="Adur">Adur</option>
<option value="Allerdale">Allerdale</option>
<option value="Amber Valley">Amber Valley</option>
<option value="Arun">Arun</option>
<option value="Ashfield">Ashfield</option>
<option value="Ashford">Ashford</option>
<option value="Aylesbury Vale">Aylesbury Vale</option>
<option value="Ayrshire and Arran">Ayrshire and Arran</option>
<option value="Babergh">Babergh</option>
<option value="Barking and Dagenham">Barking and Dagenham</option>
<option value="Barnet">Barnet</option>
<option value="Barnsley">Barnsley</option>
<option value="Barrow-in-Furness">Barrow-in-Furness</option>
<option value="Basildon">Basildon</option>
<option value="Basingstoke and Deane">Basingstoke and Deane</option>
<option value="Bassetlaw">Bassetlaw</option>
<option value="Bath and North East Somerset">Bath and North East Somerset</option>
<option value="Bedford">Bedford</option>
<option value="Bexley">Bexley</option>
<option value="Birmingham">Birmingham</option>
<option value="Blaby">Blaby</option>
<option value="Blackburn with Darwen">Blackburn with Darwen</option>
<option value="Blackpool">Blackpool</option>
<option value="Blaenau Gwent">Blaenau Gwent</option>
<option value="Bolsover">Bolsover</option>
<option value="Bolton">Bolton</option>
<option value="Borders">Borders</option>
<option value="Boston">Boston</option>
<option value="Bournemouth, Christchurch and Poole">Bournemouth, Christchurch and Poole</option>
<option value="Bracknell Forest">Bracknell Forest</option>
<option value="Bradford">Bradford</option>
<option value="Braintree">Braintree</option>
<option value="Breckland">Breckland</option>
<option value="Brent">Brent</option>
<option value="Brentwood">Brentwood</option>
<option value="Bridgend">Bridgend</option>
<option value="Brighton and Hove">Brighton and Hove</option>
<option value="Bristol, City of">Bristol, City of</option>
<option value="Broadland">Broadland</option>
<option value="Bromley">Bromley</option>
<option value="Bromsgrove">Bromsgrove</option>
<option value="Broxbourne">Broxbourne</option>
<option value="Broxtowe">Broxtowe</option>
<option value="Burnley">Burnley</option>
<option value="Bury">Bury</option>
<option value="Caerphilly">Caerphilly</option>
<option value="Calderdale">Calderdale</option>
<option value="Cambridge">Cambridge</option>
<option value="Camden">Camden</option>
<option value="Cannock Chase">Cannock Chase</option>
<option value="Canterbury">Canterbury</option>
<option value="Cardiff">Cardiff</option>
<option value="Carlisle">Carlisle</option>
<option value="Carmarthenshire">Carmarthenshire</option>
<option value="Castle Point">Castle Point</option>
<option value="Central Bedfordshire">Central Bedfordshire</option>
<option value="Ceredigion">Ceredigion</option>
<option value="Charnwood">Charnwood</option>
<option value="Chelmsford">Chelmsford</option>
<option value="Cheltenham">Cheltenham</option>
<option value="Cherwell">Cherwell</option>
<option value="Cheshire East">Cheshire East</option>
<option value="Cheshire West and Chester">Cheshire West and Chester</option>
<option value="Chesterfield">Chesterfield</option>
<option value="Chichester">Chichester</option>
<option value="Chiltern">Chiltern</option>
<option value="Chorley">Chorley</option>
<option value="City of London">City of London</option>
<option value="Colchester">Colchester</option>
<option value="Conwy">Conwy</option>
<option value="Copeland">Copeland</option>
<option value="Corby">Corby</option>
<option value="Cornwall and Isles of Scilly">Cornwall and Isles of Scilly</option>
<option value="Cotswold">Cotswold</option>
<option value="County Durham">County Durham</option>
<option value="Coventry">Coventry</option>
<option value="Craven">Craven</option>
<option value="Crawley">Crawley</option>
<option value="Croydon">Croydon</option>
<option value="Dacorum">Dacorum</option>
<option value="Darlington">Darlington</option>
<option value="Dartford">Dartford</option>
<option value="Daventry">Daventry</option>
<option value="Denbighshire">Denbighshire</option>
<option value="Derby">Derby</option>
<option value="Derbyshire Dales">Derbyshire Dales</option>
<option value="Doncaster">Doncaster</option>
<option value="Dorset">Dorset</option>
<option value="Dover">Dover</option>
<option value="Dudley">Dudley</option>
<option value="Dumfries and Galloway">Dumfries and Galloway</option>
<option value="Ealing">Ealing</option>
<option value="East Cambridgeshire">East Cambridgeshire</option>
<option value="East Devon">East Devon</option>
<option value="East Hampshire">East Hampshire</option>
<option value="East Hertfordshire">East Hertfordshire</option>
<option value="East Lindsey">East Lindsey</option>
<option value="East Northamptonshire">East Northamptonshire</option>
<option value="East Riding of Yorkshire">East Riding of Yorkshire</option>
<option value="East Staffordshire">East Staffordshire</option>
<option value="East Suffolk">East Suffolk</option>
<option value="Eastbourne">Eastbourne</option>
<option value="Eastleigh">Eastleigh</option>
<option value="Eden">Eden</option>
<option value="Elmbridge">Elmbridge</option>
<option value="Enfield">Enfield</option>
<option value="Epping Forest">Epping Forest</option>
<option value="Epsom and Ewell">Epsom and Ewell</option>
<option value="Erewash">Erewash</option>
<option value="Exeter">Exeter</option>
<option value="Fareham">Fareham</option>
<option value="Fenland">Fenland</option>
<option value="Fife">Fife</option>
<option value="Flintshire">Flintshire</option>
<option value="Folkestone and Hythe">Folkestone and Hythe</option>
<option value="Forest of Dean">Forest of Dean</option>
<option value="Forth Valley">Forth Valley</option>
<option value="Fylde">Fylde</option>
<option value="Gateshead">Gateshead</option>
<option value="Gedling">Gedling</option>
<option value="Gloucester">Gloucester</option>
<option value="Gosport">Gosport</option>
<option value="Grampian">Grampian</option>
<option value="Gravesham">Gravesham</option>
<option value="Great Yarmouth">Great Yarmouth</option>
<option value="Greater Glasgow and Clyde">Greater Glasgow and Clyde</option>
<option value="Greenwich">Greenwich</option>
<option value="Guildford">Guildford</option>
<option value="Gwynedd">Gwynedd</option>
<option value="Hackney">Hackney</option>
<option value="Halton">Halton</option>
<option value="Hambleton">Hambleton</option>
<option value="Hammersmith and Fulham">Hammersmith and Fulham</option>
<option value="Harborough">Harborough</option>
<option value="Haringey">Haringey</option>
<option value="Harlow">Harlow</option>
<option value="Harrogate">Harrogate</option>
<option value="Harrow">Harrow</option>
<option value="Hart">Hart</option>
<option value="Hartlepool">Hartlepool</option>
<option value="Hastings">Hastings</option>
<option value="Havant">Havant</option>
<option value="Havering">Havering</option>
<option value="Herefordshire, County of">Herefordshire, County of</option>
<option value="Hertsmere">Hertsmere</option>
<option value="High Peak">High Peak</option>
<option value="Highland">Highland</option>
<option value="Hillingdon">Hillingdon</option>
<option value="Hinckley and Bosworth">Hinckley and Bosworth</option>
<option value="Horsham">Horsham</option>
<option value="Hounslow">Hounslow</option>
<option value="Huntingdonshire">Huntingdonshire</option>
<option value="Hyndburn">Hyndburn</option>
<option value="Ipswich">Ipswich</option>
<option value="Isle of Anglesey">Isle of Anglesey</option>
<option value="Isle of Wight">Isle of Wight</option>
<option value="Islington">Islington</option>
<option value="Kensington and Chelsea">Kensington and Chelsea</option>
<option value="Kettering">Kettering</option>
<option value="King's Lynn and West Norfolk">King's Lynn and West Norfolk</option>
<option value="Kingston upon Hull, City of">Kingston upon Hull, City of</option>
<option value="Kingston upon Thames">Kingston upon Thames</option>
<option value="Kirklees">Kirklees</option>
<option value="Knowsley">Knowsley</option>
<option value="Lambeth">Lambeth</option>
<option value="Lanarkshire">Lanarkshire</option>
<option value="Lancaster">Lancaster</option>
<option value="Leeds">Leeds</option>
<option value="Leicester">Leicester</option>
<option value="Lewes">Lewes</option>
<option value="Lewisham">Lewisham</option>
<option value="Lichfield">Lichfield</option>
<option value="Lincoln">Lincoln</option>
<option value="Liverpool">Liverpool</option>
<option value="Lothian">Lothian</option>
<option value="Luton">Luton</option>
<option value="Maidstone">Maidstone</option>
<option value="Maldon">Maldon</option>
<option value="Malvern Hills">Malvern Hills</option>
<option value="Manchester">Manchester</option>
<option value="Mansfield">Mansfield</option>
<option value="Medway">Medway</option>
<option value="Melton">Melton</option>
<option value="Mendip">Mendip</option>
<option value="Merthyr Tydfil">Merthyr Tydfil</option>
<option value="Merton">Merton</option>
<option value="Mid Devon">Mid Devon</option>
<option value="Mid Suffolk">Mid Suffolk</option>
<option value="Mid Sussex">Mid Sussex</option>
<option value="Middlesbrough">Middlesbrough</option>
<option value="Milton Keynes">Milton Keynes</option>
<option value="Mole Valley">Mole Valley</option>
<option value="Monmouthshire">Monmouthshire</option>
<option value="Neath Port Talbot">Neath Port Talbot</option>
<option value="New Forest">New Forest</option>
<option value="Newark and Sherwood">Newark and Sherwood</option>
<option value="Newcastle upon Tyne">Newcastle upon Tyne</option>
<option value="Newcastle-under-Lyme">Newcastle-under-Lyme</option>
<option value="Newham">Newham</option>
<option value="Newport">Newport</option>
<option value="North Devon">North Devon</option>
<option value="North East Derbyshire">North East Derbyshire</option>
<option value="North East Lincolnshire">North East Lincolnshire</option>
<option value="North Hertfordshire">North Hertfordshire</option>
<option value="North Kesteven">North Kesteven</option>
<option value="North Lincolnshire">North Lincolnshire</option>
<option value="North Norfolk">North Norfolk</option>
<option value="North Somerset">North Somerset</option>
<option value="North Tyneside">North Tyneside</option>
<option value="North Warwickshire">North Warwickshire</option>
<option value="North West Leicestershire">North West Leicestershire</option>
<option value="Northampton">Northampton</option>
<option value="Northumberland">Northumberland</option>
<option value="Norwich">Norwich</option>
<option value="Nottingham">Nottingham</option>
<option value="Nuneaton and Bedworth">Nuneaton and Bedworth</option>
<option value="Oadby and Wigston">Oadby and Wigston</option>
<option value="Oldham">Oldham</option>
<option value="Orkney">Orkney</option>
<option value="Oxford">Oxford</option>
<option value="Pembrokeshire">Pembrokeshire</option>
<option value="Pendle">Pendle</option>
<option value="Peterborough">Peterborough</option>
<option value="Plymouth">Plymouth</option>
<option value="Portsmouth">Portsmouth</option>
<option value="Powys">Powys</option>
<option value="Preston">Preston</option>
<option value="Reading">Reading</option>
<option value="Redbridge">Redbridge</option>
<option value="Redcar and Cleveland">Redcar and Cleveland</option>
<option value="Redditch">Redditch</option>
<option value="Reigate and Banstead">Reigate and Banstead</option>
<option value="Rhondda Cynon Taf">Rhondda Cynon Taf</option>
<option value="Ribble Valley">Ribble Valley</option>
<option value="Richmond upon Thames">Richmond upon Thames</option>
<option value="Richmondshire">Richmondshire</option>
<option value="Rochdale">Rochdale</option>
<option value="Rochford">Rochford</option>
<option value="Rossendale">Rossendale</option>
<option value="Rother">Rother</option>
<option value="Rotherham">Rotherham</option>
<option value="Rugby">Rugby</option>
<option value="Runnymede">Runnymede</option>
<option value="Rushcliffe">Rushcliffe</option>
<option value="Rushmoor">Rushmoor</option>
<option value="Rutland">Rutland</option>
<option value="Ryedale">Ryedale</option>
<option value="Salford">Salford</option>
<option value="Sandwell">Sandwell</option>
<option value="Scarborough">Scarborough</option>
<option value="Sedgemoor">Sedgemoor</option>
<option value="Sefton">Sefton</option>
<option value="Selby">Selby</option>
<option value="Sevenoaks">Sevenoaks</option>
<option value="Sheffield">Sheffield</option>
<option value="Shetland">Shetland</option>
<option value="Shropshire">Shropshire</option>
<option value="Slough">Slough</option>
<option value="Solihull">Solihull</option>
<option value="Somerset West and Taunton">Somerset West and Taunton</option>
<option value="South Bucks">South Bucks</option>
<option value="South Cambridgeshire">South Cambridgeshire</option>
<option value="South Derbyshire">South Derbyshire</option>
<option value="South Gloucestershire">South Gloucestershire</option>
<option value="South Hams">South Hams</option>
<option value="South Holland">South Holland</option>
<option value="South Kesteven">South Kesteven</option>
<option value="South Lakeland">South Lakeland</option>
<option value="South Norfolk">South Norfolk</option>
<option value="South Northamptonshire">South Northamptonshire</option>
<option value="South Oxfordshire">South Oxfordshire</option>
<option value="South Ribble">South Ribble</option>
<option value="South Somerset">South Somerset</option>
<option value="South Staffordshire">South Staffordshire</option>
<option value="South Tyneside">South Tyneside</option>
<option value="Southampton">Southampton</option>
<option value="Southend-on-Sea">Southend-on-Sea</option>
<option value="Southwark">Southwark</option>
<option value="Spelthorne">Spelthorne</option>
<option value="St Albans">St Albans</option>
<option value="St. Helens">St. Helens</option>
<option value="Stafford">Stafford</option>
<option value="Staffordshire Moorlands">Staffordshire Moorlands</option>
<option value="Stevenage">Stevenage</option>
<option value="Stockport">Stockport</option>
<option value="Stockton-on-Tees">Stockton-on-Tees</option>
<option value="Stoke-on-Trent">Stoke-on-Trent</option>
<option value="Stratford-on-Avon">Stratford-on-Avon</option>
<option value="Stroud">Stroud</option>
<option value="Sunderland">Sunderland</option>
<option value="Surrey Heath">Surrey Heath</option>
<option value="Sutton">Sutton</option>
<option value="Swale">Swale</option>
<option value="Swansea">Swansea</option>
<option value="Swindon">Swindon</option>
<option value="Tameside">Tameside</option>
<option value="Tamworth">Tamworth</option>
<option value="Tandridge">Tandridge</option>
<option value="Tayside">Tayside</option>
<option value="Teignbridge">Teignbridge</option>
<option value="Telford and Wrekin">Telford and Wrekin</option>
<option value="Tendring">Tendring</option>
<option value="Test Valley">Test Valley</option>
<option value="Tewkesbury">Tewkesbury</option>
<option value="Thanet">Thanet</option>
<option value="Three Rivers">Three Rivers</option>
<option value="Thurrock">Thurrock</option>
<option value="Tonbridge and Malling">Tonbridge and Malling</option>
<option value="Torbay">Torbay</option>
<option value="Torfaen">Torfaen</option>
<option value="Torridge">Torridge</option>
<option value="Tower Hamlets">Tower Hamlets</option>
<option value="Trafford">Trafford</option>
<option value="Tunbridge Wells">Tunbridge Wells</option>
<option value="Uttlesford">Uttlesford</option>
<option value="Vale of Glamorgan">Vale of Glamorgan</option>
<option value="Vale of White Horse">Vale of White Horse</option>
<option value="Wakefield">Wakefield</option>
<option value="Walsall">Walsall</option>
<option value="Waltham Forest">Waltham Forest</option>
<option value="Wandsworth">Wandsworth</option>
<option value="Warrington">Warrington</option>
<option value="Warwick">Warwick</option>
<option value="Watford">Watford</option>
<option value="Waverley">Waverley</option>
<option value="Wealden">Wealden</option>
<option value="Wellingborough">Wellingborough</option>
<option value="Welwyn Hatfield">Welwyn Hatfield</option>
<option value="West Berkshire">West Berkshire</option>
<option value="West Devon">West Devon</option>
<option value="West Lancashire">West Lancashire</option>
<option value="West Lindsey">West Lindsey</option>
<option value="West Oxfordshire">West Oxfordshire</option>
<option value="West Suffolk">West Suffolk</option>
<option value="Western Isles">Western Isles</option>
<option value="Westminster">Westminster</option>
<option value="Wigan">Wigan</option>
<option value="Wiltshire">Wiltshire</option>
<option value="Winchester">Winchester</option>
<option value="Windsor and Maidenhead">Windsor and Maidenhead</option>
<option value="Wirral">Wirral</option>
<option value="Woking">Woking</option>
<option value="Wokingham">Wokingham</option>
<option value="Wolverhampton">Wolverhampton</option>
<option value="Worcester">Worcester</option>
<option value="Worthing">Worthing</option>
<option value="Wrexham">Wrexham</option>
<option value="Wychavon">Wychavon</option>
<option value="Wycombe">Wycombe</option>
<option value="Wyre">Wyre</option>
<option value="Wyre Forest">Wyre Forest</option>
<option value="York">York</option>
</select>
<p>
<br />
Infection was spreading widely in the UK long before people started dying from COVID-19. With inconsistent and low volumes of testing for COVID-19, the best method available for working out infections is working back from deaths that follow approx 3 weeks later. 
<p><p>
Notes:<p> 

* Estimated new infections [LEFT AXIS]: a Reuters crude estimate based on:  a) 1% infection fatality rate (most studies currently show IFR at 0.5%-1%) and average time from infection to death of approx. 3 weeks . The IFR will vary based on age distribution, so the number of infections is likely an over-estimate in later stages of outbreak when, in most areas, infection spread into care homes.
<p>
* Test with a positive Covid result [RIGHT AXIS]- these are tests carried out in Public Health England NHS labs. Pillar 2 tests carried out in private "Lighthouse" labs are not included, and have formed an increasing portion of the tests. We await data from these.

<p>
* Deaths [RIGHT AXIS] - derived from death certificates where COVID-19 is listed as a cause of death, location by usual place of residence (not place of death). This figure is significantly below recorded excess deaths for the time of year, suggesting the Covid19 figures are an under-estimate.
<p>
 
Source: XXXXXXX
Data: Ryan McNeil
Chart/programming: Stephen Grey


    	<div class="col-md-1"></div>



  	</div>
 </div>







<div class="container">
  
</div>

<script>


function get_data(placename) 
	{
	var task_url = '/graph/api/'+placename;
	$.get( task_url, function(data) 
		{
    	if (data.error==true){
    		console.log(data.message);
    		}
    	else
    		{
    		//alert(data.results.progress);
    		console.log(data.dataset);
    		var chart_title=data.place;
    		var series1=data.dataset[1].data;
    		var label1=data.dataset[1].label;
    		console.log(series1);

    		var series2=data.dataset[2].data;
    		var label2=data.dataset[2].label;

    		var series3=data.dataset[3].data;
    		var label3=data.dataset[3].label;

    		var series4=data.dataset[4].data;
    		var label4=data.dataset[4].label;
            ;
            draw_chart(chart_title,series1,series2,series3,series4,label1,label2,label3,label4);
    		};
     	},
     	'json' // I expect a JSON response
     	);
	};  //end of get data

//

function draw_chart(chart_title,series1,series2,series3,series4,label1,label2,label3,label4)
	{
	params=
	{
    	type: 'line',
    	data: {
        	labels: [
			'Feb 14','Feb 21','Mar 6','Mar 13','Mar 20', 'Mar 27','Apr 3','Apr 10','Apr 24','May 1','May 8','May 15','May 22','May 29','June 5', 'June 12',
					],
        	datasets: [
        		{
            		label: label1,
            		data: series1,
            		backgroundColor: [
					'rgba(255, 229, 204,0.4)',
            		],
            		borderColor: [
            		'black'
],
            		borderWidth: 1,
             		yAxisID: "y-axis-1",
             		
    			}, 
    			
    			
    			{
            	label: label3,
            	data:series3,
            	borderColor: [ 
            	'orange',
            	],
            	borderWidth: 1 ,
     			yAxisID: "y-axis-2"
    			}, 

    			
    			{
            	label: label4,
            	data: series4,
            	backgroundColor: ['rgba(255,0,0,1)'],
            	borderColor: [ 	'rgba(255, 99, 132, 1)'],
            	borderWidth: 1,    
    			yAxisID: "y-axis-2",
    			
        		},   			
    			{
    			label:label2,
    			data:series2,
            	backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                           	],
            	borderColor: [ 'rgba(255, 99, 132, 1)'
            	],
            	borderWidth: 1 ,
     			yAxisID: "y-axis-2"
    			}, 
    			
    			

        ]},
        options: {
    		title: 
    			{
    			display:true,
    			text:chart_title,
    		 	},
        	scales: 
        		{
            	yAxes: 
            		[{            
                        type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: "left",
                        scaleLabel: 
                        	{
                            display: true,
                            labelString: 'Weekly New Infections',
                            fontColor: "black",
                        	},
                        id: "y-axis-1",
                    }, 
                    {
                        type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: "right",
                        scaleLabel: {
                            display: true,
                            labelString: 'Deaths / Detected Cases',
                            fontColor: "red",
      								},
                        id: "y-axis-2",
                        
                        // grid line settings
                        gridLines: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        	},
                   }],
        		}
    		} //end of options
    	};
	console.log(params);
	myChart.destroy();
	myChart = new Chart(ctx, params);
		};



var currentChart;
var place='Birmingham'
var ctx = document.getElementById('myChart');
ctx.height = 100;
var myChart;
myChart=new Chart(ctx, {});

get_data("Birmingham");

//
function updateChart() {
     var determineChart = $("#Filter").val();
     get_data(determineChart);
 };
//
$('#Filter').on('change', updateChart);

</script>

