# -*- coding: UTF-8 -*-
#example of user settings

[Django]
secretkey: somesecretkey
#it can't cope with % charactrs in key
allowed_hosts: localhost,127.0.0.1
debug: True
#in public-facing server, debug should set as False as debug mode will expose variables and keys
#options for loglevels are DEBUG,INFO,WARNING,ERROR,SEVERE
console_loglevel: INFO
logfile_loglevel: INFO

